

.transitional--card {
    max-width:  580px;
    height: 500px;
    border-radius: 15px;
    padding: 1.5rem;
    background: white;
    position: relative;
    display: flex;
    align-items: flex-end;
    transition: 0.4s ease-out;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  }
  .transitional--card:hover {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  .transitional--card:hover:before {
    opacity: 1;
  }
  .transitional--card:hover .transitional--info {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  .transitional--card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
    transition: 0.5s;
    opacity: 0;
  }
  .transitional--card img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
  }
  .transitional--card .transitional--info {
    position: relative;
    z-index: 3;
    color: white;
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
    transition: 0.5s;
  }
  .transitional--card .transitional--info h1 {
    margin: 0px;
  }
  .transitional--card .transitional--info p {
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
  }
  .transitional--card .transitional--info button {
    padding: 0.6rem;
    outline: none;
    border: none;
    border-radius: 3px;
    background: white;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s ease;
  }
  .transitional--card .transitional--info button:hover {
    background: dodgerblue;
    color: white;
  }
  .row:hover{
    color: rgb(43, 6, 6);
  }
  